### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [165]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [166]:
# Total number of unique schools
unique_school_name=school_data_complete['school_name'].unique()
total_school_number=len(unique_school_name)
total_school_number

15

In [167]:
# Calculate the total number of students
total_students_number=school_data_complete["student_name"].count()
total_students_number

39170

In [168]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [169]:
# Calculate the average maths score
average_maths_score = school_data_complete["maths_score"].mean()
average_maths_score

70.33819249425581

In [170]:
# Calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

69.98013786060761

In [171]:
# Calculate the average maths score
average_maths_score = school_data_complete["maths_score"].mean()
average_maths_score

70.33819249425581

In [172]:
# Calculate the percentage of students with a passing maths score (50 or greater)
students_passing_maths = school_data_complete.loc[school_data_complete["maths_score"] >= 50]
number_students_passing_maths = students_passing_maths["Student ID"].count()

percent_passing_maths = (number_students_passing_maths / total_students_number) * 100

percent_passing_maths

86.07863160582077

In [173]:
# Calculate the percentage of students with a passing reading score (50 or greater)
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 50]
number_students_passing_reading = students_passing_reading["Student ID"].count()

percent_passing_reading = (number_students_passing_reading / total_students_number) * 100
percent_passing_reading

84.42685728874139

In [174]:
# Calculate the percentage of students who passed maths and reading (% Overall Passing)
Overall_passing = school_data_complete[(school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score'] >= 50)]['Student ID'].count()/total_students_number*100
Overall_passing

72.80827163645647

In [175]:
# Create a dataframe to hold the above results
district_summary = pd.DataFrame({
    "Total Schools": total_school_number,
    "Total Students": f"{total_students_number:,}",
    "Total Budget": f"${total_budget:,.2f}",
    "Average Maths Score": f"{average_maths_score:.6f}",
    "Average Reading Score": f"{average_reading_score:.5f}",
    "% Passing Maths": f"{percent_passing_maths:.6f}",
    "% Passing Reading": f"{percent_passing_reading:.6f}",
    "% Overall Passing": f"{Overall_passing: .6f}"
}, index=[0])

district_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.98014,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [176]:
# Group by school name
school_name = school_data_complete.set_index('school_name').groupby(['school_name'])

In [177]:
# school types by school name
school_type = school_data.set_index('school_name')['type']

In [178]:
#  Calculate total students
total_student = school_name['Student ID'].count()

In [179]:
# Total school budget
total_school_budget = school_data.set_index('school_name')['budget']

In [180]:
# per student budget
budget_per_student = (school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size'])

In [181]:
# Average Math Score
average_maths_score = school_name['maths_score'].mean()

In [182]:
# Average Reading Score
average_reading_score = school_name['reading_score'].mean()

In [183]:
# % Passing Math
pass_maths_percent = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school_name')['Student ID'].count()/total_student*100

In [184]:
# % Passing Reading
pass_read_percent = school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school_name')['Student ID'].count()/total_student*100

In [185]:
# % Overall Passing (The percentage of students that passed maths and reading.)
overall_pass = school_data_complete[(school_data_complete['reading_score'] >= 50) & (school_data_complete['maths_score'] >= 50)].groupby('school_name')['Student ID'].count()/total_student*100

In [186]:
school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_student,
    "Per Student Budget": budget_per_student,
    "Total School Budget": total_school_budget,
    "Average Maths Score": average_maths_score,
    "Average Reading Score": average_reading_score,
    '% Passing Maths': pass_maths_percent,
    '% Passing Reading': pass_read_percent,
    "% Overall Passing": overall_pass
})

school_summary = school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Maths Score', 
                          'Average Reading Score',
                          '% Passing Maths',
                          '% Passing Reading',
                          '% Overall Passing']]

school_summary.style.format({'Total Students': '{:}',
                          "Total School Budget": "${:,.2f}",
                          "Per Student Budget": "${:.2f}",
                          'Average Maths Score': "{:6f}", 
                          'Average Reading Score': "{:6f}", 
                          "% Passing Maths": "{:6f}", 
                          "% Passing Reading": "{:6f}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [187]:
# Sort and display the top five performing schools by % overall passing.
top_performing = school_summary.sort_values("% Overall Passing", ascending = False)
top_performing.head().style.format({'Total Students': '{:}',
                           "Total School Budget": "${:,.2f}", 
                           "Per Student Budget": "${:.2f}", 
                           "% Passing Maths": "{:6f}", 
                           "% Passing Reading": "{:6f}", 
                           "% Overall Passing": "{:6f}"})

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [188]:
# Sort and display the five worst-performing schools by % overall passing. 
bottom_performing = top_performing.tail()
bottom_performing = bottom_performing.sort_values('% Overall Passing')
bottom_performing.style.format({'Total Students': '{: }', 
                       "Total School Budget": "${:,.2f}", 
                       "Per Student Budget": "${:.2f}", 
                       "% Passing Maths": "{:6f}", 
                       "% Passing Reading": "{:6f}", 
                       "% Overall Passing": "{:6f}"})

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [189]:
# Create year level average maths score at each school 
yr9_maths = school_data_complete.loc[school_data_complete["year"] == 9].groupby(["school_name"])["maths_score"].mean()
yr10_maths = school_data_complete.loc[school_data_complete["year"] == 10].groupby(["school_name"])["maths_score"].mean()
yr11_maths = school_data_complete.loc[school_data_complete["year"] == 11].groupby(["school_name"])["maths_score"].mean()
yr12_maths = school_data_complete.loc[school_data_complete["year"] == 12].groupby(["school_name"])["maths_score"].mean()

In [190]:
# Combine the series into a dataframe
maths_scores = pd.DataFrame({"Year 9": yr9_maths,
      "Year 10": yr10_maths,
      "Year 11": yr11_maths,
      "Year 12": yr12_maths})

# maths_scores

In [191]:
maths_scores = maths_scores[['Year 9', 'Year 10', 'Year 11', 'Year 12']]
maths_scores.index.name = "School Name"

In [192]:
# Optional: give the displayed data cleaner formatting
maths_scores.style.format({'Year 9': '{:.6f}', 
                          "Year 10": '{:.6f}', 
                          "Year 11": "{:.6f}", 
                          "Year 12": "{:.6f}"})

## Reading Score by Year

* Perform the same operations as above for reading scores

In [193]:
# Year average reading scores for each school
yr9_reading = student_data.loc[student_data['year'] == 9].groupby('school_name')["reading_score"].mean()
yr10_reading = student_data.loc[student_data['year'] == 10].groupby('school_name')["reading_score"].mean()
yr11_reading = student_data.loc[student_data['year'] == 11].groupby('school_name')["reading_score"].mean()
yr12_reading = student_data.loc[student_data['year'] == 12].groupby('school_name')["reading_score"].mean()

# Merge the reading score averages by school and year
reading_scores = pd.DataFrame({
        "Year 9": yr9_reading,
        "Year 10": yr10_reading,
        "Year11": yr11_reading,
        "Year 12": yr12_reading
})
reading_scores = reading_scores[["Year 9", "Year 10", "Year11", "Year 12"]]
reading_scores.index.name = "School Name"

# Optional: give the displayed data cleaner formatting
reading_scores.style.format({"Year 9": '{:.6f}', 
                             "Year 10": '{:.6f}', 
                             "Year11": "{:.6f}", 
                             "Year 12": "{:.6f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [197]:
# Use the code provided below to create four bins with reasonable cutoff values to group school spending.
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]


school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = group_name)

#group by spending
by_spending = school_data_complete.groupby('spending_bins')


avg_math = by_spending['math_score'].mean()

avg_read = by_spending['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100

In [131]:
# Create dataframe            
scores_by_spend = pd.DataFrame({
    "Average Maths Score": average_maths_score,
    "Average Reading Score": average_reading_score,
    "% Passing Maths": pass_maths_percent,
    "% Passing Reading": pass_read_percent,
    "% Overall Passing": overall_pass
            
})
# scores_by_spend

In [132]:
scores_by_spend = scores_by_spend[[
    "Average Maths Score",
    "Average Reading Score",
    "% Passing Maths",
    "% Passing Reading",
    "% Overall Passing"
]]

scores_by_spend.index.name = "Spending Ranges (Per Student)"


#formating
scores_by_spend.style.format({'Average Maths Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              '% Passing Maths': '{:.2f}', 
                              '% Passing Reading':'{:.2f}', 
                              '% Overall Passing': '{:.2f}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [100]:
# create size bins
bins = [0, 1000, 2000,5000]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (2000-5000)"]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], bins, labels = group_name)

In [102]:

by_size = school_data_complete.groupby('size_bins')

average_maths_score = by_size['maths_score'].mean()
average_reading_score = by_size['maths_score'].mean()
pass_maths_percent = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
pass_read_percent = school_data_complete[school_data_complete['reading_score'] >= 50].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
overall_pass = school_data_complete[(school_data_complete['reading_score'] >= 50) & (school_data_complete['maths_score'] >= 50)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100

In [109]:
scores_by_size = pd.DataFrame({
    "Average Maths Score": average_maths_score,
    "Average Reading Score": average_reading_score,
    '% Passing Maths': pass_maths_percent,
    '% Passing Reading': pass_read_percent,
    '% Overall Passing': overall
})

scores_by_size = scores_by_size[[
    "Average Maths Score",
    "Average Reading Score",
    '% Passing Maths',
    '% Passing Reading',
    '% Overall Passing'
]]

scores_by_size.index.name = "School Size"
scores_by_size = scores_by_size.reindex(group_name)


scores_by_size.style.format({'Average Maths Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Maths': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              '% Overall Passing': '{:.6f}'})

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340